body {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  width: 8rem;
  height: 8rem;
  border-radius: 10%;
  border: 5px solid black;
  margin-bottom: 1rem;
  margin-right: 1rem;
  position: relative; /* Ensure proper positioning of pseudo-element */
}

.red {
  background-color: red;
  border-top-left-radius: 90%;
}
.green {
  background-color: green;
  border-top-right-radius: 90%;
}
.blue {
  background-color: blue;
  border-bottom-left-radius: 90%;
}
.yellow {
  background-color: yellow;
  border-bottom-right-radius: 90%;
}

.btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
  transition: width 0.3s ease-out, height 0.3s ease-out, opacity 0.3s ease-out;
  box-shadow: 0 0 40px rgba(234, 6, 6, 0.5);
}

.btn.glow:after {
  width: 4rem;
  height: 4rem;
  opacity: 0.8;
  /* Add box shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
}

.wrongAns {
  background-color: red;
}
