body {
  background-color: #212529 !important;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Add this within your CSS styles */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #666;
}

#howToPlayBtn {
  background-color: none;
  color: white;
  text-decoration: underline;
  margin-top: 0.5rem;
  cursor: pointer;
}

span {
  font-size: 4rem;
  font-weight: bold;
}
h3 {
  color: white;
}
.titleRed {
  color: red;
}
.titleBlue {
  color: blue;
}
.titleGreen {
  color: green;
}
.titleYellow {
  color: yellow;
}
.titleWhite {
  color: white;
}
.btn-container {
  display: flex;
  justify-content: center;
}

.mybtn {
  width: 8rem;
  height: 8rem;
  border-radius: 10%;
  border: 5px solid black;
  margin: 0.5rem;
  position: relative; /* Ensure proper positioning of pseudo-element */
}

.red {
  background-color: red;
  border-top-left-radius: 90%;
}
.green {
  background-color: green;
  border-top-right-radius: 90%;
}
.blue {
  background-color: blue;
  border-bottom-left-radius: 90%;
}
.yellow {
  background-color: yellow;
  border-bottom-right-radius: 90%;
}

.mybtn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
  transition: width 0.3s ease-out, height 0.3s ease-out, opacity 0.3s ease-out;
  box-shadow: 0 0 40px rgba(234, 6, 6, 0.5);
}

.mybtn.glow:after {
  width: 4rem;
  height: 4rem;
  opacity: 0.8;
  /* Add box shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
}

.wrongAns {
  background-color: red !important;
}
